{% extends 'base.html' %}

{% block content %}
  <h1>All Properties</h1>
  <div class="row">
    {% for property in properties %}
      <div class="col-md-4 mb-3">
        <div class="card">
          <img src="{{ url_for('static', filename='photos/' + property.photo) }}" class="card-img-top" alt="{{ property.title }}">
          <div class="card-body">
            <h5 class="card-title">{{ property.title }}</h5>
            <p class="card-text"><strong>Location:</strong> {{ property.location }}</p>
            <p class="card-text"><strong>Price:</strong> {{ property.price }}</p>
            <a href="{{ url_for('view_property', propertyid=property.id) }}" class="btn btn-primary">View Property</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
