{% extends 'base.html' %}

{% block main %}
<div class="view-container">
  <div class="row">
    <div class="col-md-6">
      <img src="{{ url_for('get_image', filename=property.photo) }}" alt="Property Photo" class="img">
    </div>
    <div class="col-md-6">
      <h2 class="view-heading">{{ property.title }}</h2>
      <div class="row">
        <div class="col-md-6">
          <p class="badge">{{ property.price | format_currency }}</p>
          <p class="badge bg-warning">{{ property.type }}</p>
        </div>
      </div>
      <p class="description">{{ property.description }}</p>    
      <div class="row">
        <div class="col-md-3">
          <p><img src="{{ url_for('static', filename='room.png') }}" class="icon" alt="room icon">{{ property.num_bedrooms }} Bedroom(s)</p>
        </div>
        <div class="col-md-3">
          <p><img src="{{ url_for('static', filename='bathroom.png') }}" class="icon" alt="bathroom icon">{{ property.num_bathrooms }} Bathroom(s)</p>
        </div>
      </div>
      <div class="row">
        <div>
          <p><img src="{{ url_for('static', filename='marker.png') }}" class="icon" alt="marker icon">{{ property.location }}</p>
        </div>
      </div>
      <a href="#" class="btn bg-info text-white">Contact Realtor</a>
    </div>
  </div>
</div>
{% endblock %}
